<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Date</key>
	<date>2010-06-11T14:13:43Z</date>
	<key>Upgrade</key>
	<dict/>
	<key>LatestVersion</key>
	<dict>
		<key>iPhone1,1</key>
		<dict>
			<key>iDroidVersion</key>
			<string>0.2</string>
			<key>AndroidVersion</key>
			<string>1.6</string>
			<key>ReleaseDate</key>
			<date>2010-05-20T11:00:00Z</date>
			<key>URL</key>
			<string>http://idroid.neonkoala.co.uk/release/0.2/idroid-release-0.2-2g.tar.bz2</string>
			<key>MD5</key>
			<string>34e8a682cad6ee32b867751596dc43de</string>
			<key>Files</key>
			<dict>
				<key>0</key>
				<array>
					<string>android.img.gz</string>
					<string>/private/var</string>
				</array>
				<key>1</key>
				<array>
					<string>cache.img</string>
					<string>/private/var</string>
				</array>
				<key>2</key>
				<array>
					<string>ramdisk.img</string>
					<string>/private/var</string>
				</array>
				<key>3</key>
				<array>
					<string>system.img</string>
					<string>/private/var</string>
				</array>
				<key>4</key>
				<array>
					<string>userdata.img</string>
					<string>/private/var</string>
				</array>
				<key>5</key>
				<array>
					<string>zImage</string>
					<string>/private/var</string>
				</array>
			</dict>
			<key>Dependencies</key>
			<dict>
				<key>Multitouch</key>
				<dict>
					<key>0</key>
					<array>
						<string>zephyr_main.bin</string>
						<string>/private/var/firmware</string>
					</array>
					<key>1</key>
					<array>
						<string>zephyr_aspeed.bin</string>
						<string>/private/var/firmware</string>
					</array>
				</dict>
				<key>WiFi</key>
				<dict>
					<key>0</key>
					<array>
						<string>sd8686.bin</string>
						<string>/private/var/firmware</string>
						<string>http://idroid.neonkoala.co.uk/release/firmware/sd8686.bin</string>
					</array>
					<key>1</key>
					<array>
						<string>sd8686_helper.bin</string>
						<string>/private/var/firmware</string>
						<string>http://idroid.neonkoala.co.uk/release/firmware/sd8686_helper.bin</string>
					</array>
				</dict>
			</dict>
		</dict>
		<key>iPhone1,2</key>
		<dict>
			<key>iDroidVersion</key>
			<string>0.2</string>
			<key>AndroidVersion</key>
			<string>1.6</string>
			<key>ReleaseDate</key>
			<date>2010-05-20T11:00:00Z</date>
			<key>URL</key>
			<string>http://idroid.neonkoala.co.uk/release/0.2/idroid-release-0.2-3g.tar.bz2</string>
			<key>MD5</key>
			<string>304af679da26496f52f19b66a9da9a9f</string>
			<key>Files</key>
			<dict>
				<key>0</key>
				<array>
					<string>android.img.gz</string>
					<string>/private/var</string>
				</array>
				<key>1</key>
				<array>
					<string>cache.img</string>
					<string>/private/var</string>
				</array>
				<key>2</key>
				<array>
					<string>ramdisk.img</string>
					<string>/private/var</string>
				</array>
				<key>3</key>
				<array>
					<string>system.img</string>
					<string>/private/var</string>
				</array>
				<key>4</key>
				<array>
					<string>userdata.img</string>
					<string>/private/var</string>
				</array>
				<key>5</key>
				<array>
					<string>zImage</string>
					<string>/private/var</string>
				</array>
			</dict>
			<key>Dependencies</key>
			<dict>
				<key>Multitouch</key>
				<dict>
					<key>0</key>
					<array>
						<string>zephyr_main.bin</string>
						<string>/private/var/firmware</string>
					</array>
					<key>1</key>
					<array>
						<string>zephyr_aspeed.bin</string>
						<string>/private/var/firmware</string>
					</array>
					<key>2</key>
					<array>
						<string>zephyr2.bin</string>
						<string>/private/var/firmware</string>
					</array>
				</dict>
				<key>WiFi</key>
				<dict>
					<key>0</key>
					<array>
						<string>sd8686.bin</string>
						<string>/private/var/firmware</string>
						<string>http://idroid.neonkoala.co.uk/release/firmware/sd8686.bin</string>
					</array>
					<key>1</key>
					<array>
						<string>sd8686_helper.bin</string>
						<string>/private/var/firmware</string>
						<string>http://idroid.neonkoala.co.uk/release/firmware/sd8686_helper.bin</string>
					</array>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
