<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Date</key>
	<date>2010-08-13T15:38:00Z</date>
	<key>Upgrade</key>
	<dict/>
	<key>LatestVersion</key>
	<dict>
		<key>iPod1,1</key>
		<dict>
			<key>iDroidVersion</key>
			<string>1.0</string>
			<key>AndroidVersion</key>
			<string>2.2</string>
			<key>ReleaseDate</key>
			<date>2010-08-12T19:00:00Z</date>
			<key>URL</key>
			<string>http://idroid.neonkoala.co.uk/release/idroid/1.0/iDroid-1.0-MoJo-IPT1G.tar.gz</string>
			<key>MD5</key>
			<string>a42a949f1d6865a57039706583fd1d61</string>
			<key>Size</key>
			<integer>159662080</integer>
			<key>Clean</key>
			<string>iDroid-1.0-MoJo-IPT1G</string>
			<key>Files</key>
			<dict>
				<key>0</key>
				<array>
					<string>iDroid-1.0-MoJo-IPT1G/iDroid</string>
					<string>/private/var</string>
					<string>android.img.gz</string>
				</array>
				<key>1</key>
				<array>
					<string>iDroid-1.0-MoJo-IPT1G/iDroid</string>
					<string>/private/var</string>
					<string>cache.img</string>
				</array>
				<key>2</key>
				<array>
					<string>iDroid-1.0-MoJo-IPT1G/iDroid</string>
					<string>/private/var</string>
					<string>system.img</string>
				</array>
				<key>3</key>
				<array>
					<string>iDroid-1.0-MoJo-IPT1G/iDroid</string>
					<string>/private/var</string>
					<string>userdata.img</string>
				</array>
				<key>4</key>
				<array>
					<string>iDroid-1.0-MoJo-IPT1G/iDroid</string>
					<string>/private/var</string>
					<string>zImage</string>
				</array>
			</dict>
			<key>Dependencies</key>
			<dict>
				<key>Directory</key>
				<string>/private/var/firmware</string>
				<key>Multitouch</key>
				<string>Z2F51,1</string>
				<key>WiFi</key>
				<dict>
					<key>0</key>
					<array>
						<string>sd8686.bin</string>
						<string>http://idroid.neonkoala.co.uk/release/firmware/sd8686.bin</string>
					</array>
					<key>1</key>
					<array>
						<string>sd8686_helper.bin</string>
						<string>http://idroid.neonkoala.co.uk/release/firmware/sd8686_helper.bin</string>
					</array>
				</dict>
			</dict>
		</dict>
		<key>iPhone1,1</key>
		<dict>
			<key>iDroidVersion</key>
			<string>1.0.1</string>
			<key>AndroidVersion</key>
			<string>2.2</string>
			<key>ReleaseDate</key>
			<date>2010-08-04T19:00:00Z</date>
			<key>URL</key>
			<string>http://idroid.neonkoala.co.uk/release/idroid/1.0.1/iDroid-1.0.1-MoJo-2G.tar.gz</string>
			<key>MD5</key>
			<string>c04f60fc1e5cd3c50ee8e5dcecfc4790</string>
			<key>Size</key>
			<string>159723520</string>
			<key>Clean</key>
			<string>iDroid-1.0-MoJo-2G</string>
			<key>Files</key>
			<dict>
				<key>0</key>
				<array>
					<string>iDroid-1.0-MoJo-2G/iDroid</string>
					<string>/private/var</string>
					<string>android.img.gz</string>
				</array>
				<key>1</key>
				<array>
					<string>iDroid-1.0-MoJo-2G/iDroid</string>
					<string>/private/var</string>
					<string>cache.img</string>
				</array>
				<key>2</key>
				<array>
					<string>iDroid-1.0-MoJo-2G/iDroid</string>
					<string>/private/var</string>
					<string>system.img</string>
				</array>
				<key>3</key>
				<array>
					<string>iDroid-1.0-MoJo-2G/iDroid</string>
					<string>/private/var</string>
					<string>userdata.img</string>
				</array>
				<key>4</key>
				<array>
					<string>iDroid-1.0-MoJo-2G/iDroid</string>
					<string>/private/var</string>
					<string>zImage</string>
				</array>
			</dict>
			<key>Dependencies</key>
			<dict>
				<key>Directory</key>
				<string>/private/var/firmware</string>
				<key>Multitouch</key>
				<string>Z1F50,1</string>
				<key>WiFi</key>
				<dict>
					<key>0</key>
					<array>
						<string>sd8686.bin</string>
						<string>http://idroid.neonkoala.co.uk/release/firmware/sd8686.bin</string>
					</array>
					<key>1</key>
					<array>
						<string>sd8686_helper.bin</string>
						<string>http://idroid.neonkoala.co.uk/release/firmware/sd8686_helper.bin</string>
					</array>
				</dict>
			</dict>
		</dict>
		<key>iPhone1,2</key>
		<dict>
			<key>iDroidVersion</key>
			<string>1.0</string>
			<key>AndroidVersion</key>
			<string>2.2</string>
			<key>ReleaseDate</key>
			<date>2010-08-04T19:00:00Z</date>
			<key>URL</key>
			<string>http://idroid.neonkoala.co.uk/release/idroid/1.0/iDroid-1.0-MoJo-3G.tar.gz</string>
			<key>MD5</key>
			<string>ad0e72cbcdbc57ff170d02319e986992</string>
			<key>Size</key>
			<integer>158750720</integer>
			<key>Clean</key>
			<string>iDroid-1.0-MoJo-3G</string>
			<key>Files</key>
			<dict>
				<key>0</key>
				<array>
					<string>iDroid-1.0-MoJo-3G/iDroid</string>
					<string>/private/var</string>
					<string>android.img.gz</string>
				</array>
				<key>1</key>
				<array>
					<string>iDroid-1.0-MoJo-3G/iDroid</string>
					<string>/private/var</string>
					<string>cache.img</string>
				</array>
				<key>2</key>
				<array>
					<string>iDroid-1.0-MoJo-3G/iDroid</string>
					<string>/private/var</string>
					<string>system.img</string>
				</array>
				<key>3</key>
				<array>
					<string>iDroid-1.0-MoJo-3G/iDroid</string>
					<string>/private/var</string>
					<string>userdata.img</string>
				</array>
				<key>4</key>
				<array>
					<string>iDroid-1.0-MoJo-3G/iDroid</string>
					<string>/private/var</string>
					<string>zImage</string>
				</array>
			</dict>
			<key>Dependencies</key>
			<dict>
				<key>Directory</key>
				<string>/private/var/firmware</string>
				<key>Multitouch</key>
				<string>Z2F52,1</string>
				<key>WiFi</key>
				<dict>
					<key>0</key>
					<array>
						<string>sd8686.bin</string>
						<string>http://idroid.neonkoala.co.uk/release/firmware/sd8686.bin</string>
					</array>
					<key>1</key>
					<array>
						<string>sd8686_helper.bin</string>
						<string>http://idroid.neonkoala.co.uk/release/firmware/sd8686_helper.bin</string>
					</array>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
