<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone1,2_4.1_8B117_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict>
		<key>Core Files Installation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>ReplaceKernel</string>
				<key>File</key>
				<string>kernelcache.release.n82</string>
				<key>Name</key>
				<string>KernelCache</string>
				<key>Path</key>
				<string>System/Library/Caches/com.apple.kernelcaches/kernelcache</string>
			</dict>
		</array>
		<key>Enable Functionality</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/CoreServices/SpringBoard.app/N82AP.plist</string>
				<key>Name</key>
				<string>N82AP.plist Patch</string>
				<key>Patch</key>
				<string>N82AP.patch</string>
			</dict>
		</array>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/Lockdown/Services.plist</string>
				<key>Name</key>
				<string>Apple File Connection v2</string>
				<key>Patch</key>
				<string>Services.patch</string>
			</dict>
		</array>
		<key>Phone Activation</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>usr/libexec/lockdownd</string>
				<key>Name</key>
				<string>Lockdownd Patch</string>
				<key>Patch</key>
				<string>lockdownd.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/applelogo.s5l8900x.img3</string>
			<key>IV</key>
			<string>9cdcfbdf36175c103d4f3d4993bc8423</string>
			<key>Key</key>
			<string>91f2b4c9a8a69f502a294200472059f3</string>
			<key>TypeFlag</key>
			<integer>2</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n82ap.RELEASE.dfu</string>
			<key>Patch</key>
			<string>iBEC.n82ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/iBoot.n82ap.RELEASE.img3</string>
			<key>IV</key>
			<string>4c8dd5528dcf283bec1ecd8d741aa540</string>
			<key>Key</key>
			<string>9b5a1fc8c62912cc1404a6bd5cc45685</string>
			<key>Patch</key>
			<string>iBoot.n82ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n82ap.RELEASE.dfu</string>
			<key>Patch</key>
			<string>iBSS.n82ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n82</string>
			<key>IV</key>
			<string>7238dcea75bf213eff209825a03add51</string>
			<key>Key</key>
			<string>0295d4ef87b9db687b44f54c8585d2b6</string>
			<key>Patch</key>
			<string>kernelcache.release.patch</string>
			<key>TypeFlag</key>
			<integer>4</integer>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/LLB.n82ap.RELEASE.img3</string>
			<key>Patch</key>
			<string>LLB.n82ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n82ap.production/recoverymode.s5l8900x.img3</string>
			<key>IV</key>
			<string>8926b78e0a2b9e4ec9dd34b0f99148fb</string>
			<key>Key</key>
			<string>536e5c0303edd8f11ca90535c0770963</string>
			<key>TypeFlag</key>
			<integer>2</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>018-7079-079.dmg</string>
			<key>IV</key>
			<string>a0fc6ca4ef7ef305d975e7f881ddcc7f</string>
			<key>Key</key>
			<string>18eab1ba646ae018b013bc959001fbde</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>WTF</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/WTF.n82ap.RELEASE.dfu</string>
			<key>Patch</key>
			<string>WTF.n82ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>WTF 2</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/WTF.s5l8900xall.RELEASE.dfu</string>
			<key>Patch</key>
			<string>WTF.s5l8900xall.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone1,2_4.1_8B117</string>
	<key>Platform</key>
	<integer>3</integer>
	<key>PreInstalledPackages</key>
	<array>
		<string>org.saurik.cydia</string>
	</array>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>018-7060-114.dmg</string>
	<key>RootFilesystemKey</key>
	<string>4C3C83D3899EA9BEF415B1C9C656AAEF966B2362494D2C9093A9283D388257562A228C86</string>
	<key>RootFilesystemMountVolume</key>
	<string>Baker8B117.iPhoneOS</string>
	<key>RootFilesystemSize</key>
	<integer>690</integer>
	<key>SHA1</key>
	<string>d87bab469dd1146ab83ddcc23f03b3164d7e09d4</string>
</dict>
</plist>
